<div class="jumbotron" style="background-color:#d9edf7">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 offset-sm-3">
        <h2 class="display-4">fitzroy</h2>
        <hr class="my-4">
        <p><a href="/students/fitzroy/<%= chosenFitzroy.id %>"><%= chosenFitzroy.name %></a>'s attendance on <a href="/history/<%= latestSaturdate.id %>"><%= formatDateLong(latestSaturdate.date) %></a></p>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-6 offset-sm-3">
      <form action="/students/fitzroy/attend/<%= chosenFitzroy.id %>?_method=PUT" method="POST" class="mb-5">
        <input type="hidden" id="date" name="date" value="<%= latestSaturdate.id %>" />
        <div class="form-group required-group">
          <label for="tutor">Tutor</label><br>
          <small class="form-text text-muted mt-0 mb-2">Select the tutor for this student at today's session, or "Unknown" if unclear.</small>
          <select class="custom-select form-control" id="tutor" name="tutor">
            <option value="" <% if (!currentUser || currentUser.userType !== "tutor" || !allTutors.some(function (tutor) { %>
                <% tutor.id === currentUser.id %>
              <% })) { %>
                selected
              <% } %>
            disabled hidden>Please select</option>
            <option value="unknown">Unknown</option>
            <% if (allTutors.length > 0) { %>
              <% allTutors.forEach(function (tutor) { %>
                <option value="<%= tutor.id %>" <% if (currentUser && currentUser.userType === "tutor" && currentUser.id === tutor.id) { %>
                  selected
                <% } %>><%= tutor.name %></option>
              <% }) %>
            <% } %>
          </select>
          <small class="form-text form-control-feedback"></small>
        </div>
        <div class="form-group required-group">
          <label for="book">Fitzroy Book Level</label><br>
          <small class="form-text text-muted mt-0 mb-2">Select the Fitzroy book level covered during today's session, or whether the student did some other activity.</small>
          <select class="custom-select form-control" id="book" name="book">
            <option value="" selected disabled hidden>Please select</option>
            <option value="0">Other activity</option>
            <% for (var i = 1; i < 81; i++) { %>
              <option value="<%= i %>"><%= fitzroyBookLevelPlusX(i) %></option>
            <% } %>
          </select>
          <small class="form-text form-control-feedback"></small>
        </div>
        <div class="form-group" style="display: none; visibility: hidden;">
          <label for="completed">Book completed?</label><br>
          <small class="form-text text-muted mt-0 mb-2">If a Fitzroy book was covered today, indicate whether that book level was completed.</small>
          <select class="custom-select form-control" id="completed" name="completed">
            <option value="" selected disabled hidden>Please select</option>
            <option value="true">Yes</option>
            <option value="false">No</option>
          </select>
          <small class="form-text form-control-feedback"></small>
        </div><br />
        <button id="submitButton" class="btn btn-primary float-right" type="submit" disabled>Submit</button>
      </form>
    </div>
  </div>
</div>

<%
  var javaScriptFiles = [
    'newAttendChecksToSubmit'
  ]
  javaScriptFiles.forEach(function (file) {
%>
<script type="text/javascript" src="/client_side_helpers/<%= file %>.js"></script>
<%  })  %>
