<div class="jumbotron" style="background-color:#d9edf7">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 offset-sm-3">
        <h2 class="display-4"><%= chosenFitzroy.name %></h2>
        <hr class="my-4">
        <p class="mb-1">fitzroy student</p>
        <p>
          <span class="badge badge-pill badge-primary"><%= chosenFitzroy.gender %></span>
          <span class="badge badge-pill badge-primary"><%= chosenFitzroy.age %> years old</span>
          <span class="badge badge-pill badge-primary"><%= chosenFitzroy.schoolLevel %></span>
          <span class="badge badge-pill badge-primary">family group <%= chosenFitzroy.family %></span>
          <span class="badge badge-pill badge-primary">joined <%= formatDateShort(chosenFitzroy.startDate) %></span>
        </p>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-6 offset-sm-3">
      <div>
        <% if (chosenFitzroy.oneOnOne) { %>
          <p><strong>Needs</strong> one-on-one attention</p>
        <% } else { %>
          <p>Does <strong>not</strong> need one-on-one attention</p>
        <% } %>
        <% if (chosenFitzroy.intervention) { %>
          <p><strong>Requires</strong> intervention owing to frequent absenteeism</p>
        <% } else { %>
          <p>Does <strong>not</strong> require intervention owing to frequent absenteeism</p>
        <% } %>
        <% if (chosenFitzroy.kidsToAvoid.length > 0) { %>
          <p>Should not be grouped with 
            <span>
            <% chosenFitzroy.kidsToAvoid.forEach(function (kidToAvoid, index, array) { %>
              <% if (array.length === 1 || index === array.length - 2) { %>
                <a href="/students/fitzroy/<%= kidToAvoid.id %>"><%= kidToAvoid.name %></a>
              <% } else if (index === array.length - 1) { %>
                and <a href="/students/fitzroy/<%= kidToAvoid.id %>"><%= kidToAvoid.name %></a>
              <% } else { %>
                <a href="/students/fitzroy/<%= kidToAvoid.id %>"><%= kidToAvoid.name %></a>,
              <% } %>
            <% }) %>
            </span>
          </p>
        <% } %>
        <% if (chosenFitzroy.preferredTutors.length > 0) { %>
          <p>
          <% if (chosenFitzroy.preferredTutors.length === 1) { %>
            <strong>Favourite tutor:</strong>
          <% } else { %>
            <strong>Favourite tutors:</strong>
          <% } %>
            <span>
            <% chosenFitzroy.preferredTutors.forEach(function(preferredTutor, index, array) { %>
              <% if (array.length === 1 || index === array.length - 2) { %>
                <%= preferredTutor.name %>
              <% } else if (index === array.length - 1) { %>
                and <%= preferredTutor.name %>
              <% } else { %>
                <%= preferredTutor.name %>,
              <% } %>
            <% }) %>
            </span>
          </p>
        <% } %>
      </div>
    </div>
  </div>
</div>
<div class="container mb-5">
  <div class="row">
    <div class="col-sm-8 offset-sm-2">
      <div class="d-flex flex-wrap justify-content-left mb-4">
        <% if (chosenFitzroy.attendance.length > 0) { %>
          <% [...new Set(chosenFitzroy.attendance.map(item => item.book))].sort(function (a, b) { %>
            <% return a - b %>
          <% }).forEach(function (indivBook) { %>
            <div class="card m-2" style="width: 21rem;">
              <div class="card-header">
                <% if (indivBook === 0) { %>
                  Other activities
                <% } else { %>
                  Book <%= indivBook %>
                <% } %>
              </div>
              <div class="card-block">
                <% var badgeStyle = "" %>
                <% chosenFitzroy.attendance.filter(function (bookAttendance) { %>
                  <% return bookAttendance.book === indivBook %>
                <% }).forEach(function (indivAttendance) { %>
                  <% if (indivAttendance.completed === false) { %>
                    <% badgeStyle = "badge-warning" %>
                  <% } else { %>
                    <% badgeStyle = "badge-success" %>
                  <% } %>
                  <a href="/history/<%= indivAttendance.date.id %>"><span class="badge badge-pill <%= badgeStyle %>"><%= formatDateShort(indivAttendance.date.date) %></span></a>
                  <% if (indivAttendance.tutor) { %>
                    <span class="badge badge-pill badge-default"><%= indivAttendance.tutor.name %></span>
                  <% } %>
                  <br>
                <% }) %>
              </div>
            </div>
          <% }) %>
        <% } %>
      </div>
    </div>
  </div>
</div>