<div class="jumbotron" style="background-color:#d9edf7">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 offset-sm-3">
        <h2 class="display-4">pre-school</h2>
        <hr class="my-4">
        <p>edit this student's details</p>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-6 offset-sm-3">
      <form action="/students/pre-school/update/<%= chosenPreSchool._id %>?_method=PUT" method="POST" class="mb-5">
        <div id="name-form-group" class="form-group required-group">
          <label for="name">Name</label>
          <input id="name" class="form-control" type="text" name="name" value="<%= chosenPreSchool.name %>">
          <small id="nameLengthMessage" class="form-text form-control-feedback"></small>
        </div>
        <div class="form-group required-group">
          <label for="gender">Gender</label><br>
          <select class="custom-select" id="gender" name="gender">
            <% if (chosenPreSchool.gender === 'male') { %>
              <option selected value="male">Male</option>
              <option value="female">Female</option>
            <% } else { %>
              <option value="male">Male</option>
              <option selected value="female">Female</option>
            <% } %>
          </select>
        </div>
        <div class="form-group required-group">
          <label for="age">Age</label><br>
          <select class="custom-select" id="age" name="age">
            <% for (var i = 5; i < 21; i++) { %>
              <% if (chosenPreSchool.age === i) { %>
                <option selected value="<%= i %>"><%= i %></option>
              <% } else { %>
                <option value="<%= i %>"><%= i %></option>
              <% } %>
            <% } %>
          </select>
        </div>
        <div class="form-group">
          <label for="family">Family code</label><br>
          <select class="custom-select" id="family" name="family">
            <% if (!chosenPreSchool.family) { %>
              <option selected value="Unknown">Unknown</option>
            <% } else { %>
              <option value="Unknown">Unknown</option>
            <% } %>
            <% if (chosenPreSchool.family === 'A4') { %>
              <option selected value="A4">A4</option>
            <% } else { %>
              <option value="A4">A4</option>
            <% } %>
            <% if (chosenPreSchool.family === 'B6') { %>
              <option selected value="B6">B6</option>
            <% } else { %>
              <option value="B6">B6</option>
            <% } %>
            <% if (chosenPreSchool.family === 'C3') { %>
              <option selected value="C3">C3</option>
            <% } else { %>
              <option value="C3">C3</option>
            <% } %>
            <% if (chosenPreSchool.family === 'D4') { %>
              <option selected value="D4">D4</option>
            <% } else { %>
              <option value="D4">D4</option>
            <% } %>
            <% if (chosenPreSchool.family === 'E4') { %>
              <option selected value="E4">E4</option>
            <% } else { %>
              <option value="E4">E4</option>
            <% } %>
            <% if (chosenPreSchool.family === 'F2') { %>
              <option selected value="F2">F2</option>
            <% } else { %>
              <option value="F2">F2</option>
            <% } %>
            <% if (chosenPreSchool.family === 'G2') { %>
              <option selected value="G2">G2</option>
            <% } else { %>
              <option value="G2">G2</option>
            <% } %>
            <% if (chosenPreSchool.family === 'G3') { %>
              <option selected value="G3">G3</option>
            <% } else { %>
              <option value="G3">G3</option>
            <% } %>
            <% if (chosenPreSchool.family === 'H4') { %>
              <option selected value="H4">H4</option>
            <% } else { %>
              <option value="H4">H4</option>
            <% } %>
            <% if (chosenPreSchool.family === 'J2') { %>
              <option selected value="J2">J2</option>
            <% } else { %>
              <option value="J2">J2</option>
            <% } %>
            <% if (chosenPreSchool.family === 'J3') { %>
              <option selected value="J3">J3</option>
            <% } else { %>
              <option value="J3">J3</option>
            <% } %>
            <% if (chosenPreSchool.family === 'K3') { %>
              <option selected value="K3">K3</option>
            <% } else { %>
              <option value="K3">K3</option>
            <% } %>
            <% if (chosenPreSchool.family === 'K4') { %>
              <option selected value="K4">K4</option>
            <% } else { %>
              <option value="K4">K4</option>
            <% } %>
            <% if (chosenPreSchool.family === 'L2') { %>
              <option selected value="L2">L2</option>
            <% } else { %>
              <option value="L2">L2</option>
            <% } %>
            <% if (chosenPreSchool.family === 'M2') { %>
              <option selected value="M2">M2</option>
            <% } else { %>
              <option value="M2">M2</option>
            <% } %>
            <% if (chosenPreSchool.family === 'X2') { %>
              <option selected value="X2">X2</option>
            <% } else { %>
              <option value="X2">X2</option>
            <% } %>
            <% if (chosenPreSchool.family === 'Z4') { %>
              <option selected value="Z4">Z4</option>
            <% } else { %>
              <option value="Z4">Z4</option>
            <% } %>
          </select>
        </div>
        <div class="form-group required-group">
          <label for="startDate" class="mb-0">When did this student join ReadAble?</label><br>
          <small class="form-text text-muted mt-0 mb-2">day / month / year</small>
          <input class="form-control" id="startDate" type="date" name="startDate" value="<%= chosenPreSchool.startDate.getFullYear() %>-<%= (chosenPreSchool.startDate.getMonth()+1).toString().length < 2 ? '0' + (chosenPreSchool.startDate.getMonth()+1).toString() : (chosenPreSchool.startDate.getMonth()+1).toString() %>-<%= (chosenPreSchool.startDate.getDate()).toString().length < 2 ? '0' + (chosenPreSchool.startDate.getDate()).toString() : (chosenPreSchool.startDate.getDate()).toString() %>">
        </div>
        <div class="form-group required-group">
          <label for="oneOnOne">Needs one-on-one attention?</label><br>
          <div class="form-check">
            <label class="form-check-label">
              <% if (chosenPreSchool.oneOnOne) { %>
                <input checked class="form-check-input mr-1" type="radio" name="oneOnOne" value="true">
              <% } else { %>
                <input class="form-check-input mr-1" type="radio" name="oneOnOne" value="true">
              <% } %>
              Yes
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <% if (!chosenPreSchool.oneOnOne) { %>
                <input checked class="form-check-input mr-1" type="radio" name="oneOnOne" value="false" checked>
              <% } else { %>
                <input class="form-check-input mr-1" type="radio" name="oneOnOne" value="false" checked>
              <% } %>
              No
            </label>
          </div>
        </div>
        <div class="form-group required-group">
          <label for="intervention">Requires intervention owing to frequent absenteeism?</label><br>
          <div class="form-check">
            <label class="form-check-label">
              <% if (chosenPreSchool.intervention) { %>
                <input checked class="form-check-input mr-1" type="radio" name="intervention" value="true">
              <% } else { %>
                <input class="form-check-input mr-1" type="radio" name="intervention" value="true">
              <% } %>
              Yes
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <% if (!chosenPreSchool.intervention) { %>
                <input checked class="form-check-input mr-1" type="radio" name="intervention" value="false" checked>
              <% } else { %>
                <input class="form-check-input mr-1" type="radio" name="intervention" value="false" checked>
              <% } %>
              No
            </label>
          </div>
        </div>
        <div id="general-comment-form-group" class="form-group">
          <label for="generalComment" class="mb-0">Any general comment?</label><br>
          <textarea id="generalComment" class="form-control" name="generalComment" rows="5"><%= chosenPreSchool.generalComment %></textarea>
          <small id="generalCommentMessage" class="form-text form-control-feedback"></small>
        </div>
        <% if (allTutors.length > 0) { %>
        <div class="form-group">
          <label class="control-label">Preferred tutor(s) (up to 3)</label><br>
          <% allTutors.forEach(function (tutor) { %>
            <div class="form-check">
              <label class="form-check-label">
                <% if (chosenPreSchool.preferredTutors.some(function (preferred) { %>
                  <% return preferred.id === tutor.id %>
                <% })) { %>
                  <input checked class="form-check-input mr-1" type="checkbox" name="preferredTutors" value="<%= tutor.id %>">
                <% } else { %>
                  <input class="form-check-input mr-1" type="checkbox" name="preferredTutors" value="<%= tutor.id %>">
                <% } %>
                <%= tutor.name %>
              </label>
            </div>
          <% }) %>
        </div>
        <% } %>
        <% if (allPreSchools.length > 0) { %>
        <div class="form-group">
          <label class="control-label">Any student(s) to avoid?</label><br>
          <% allPreSchools.forEach(function (student) { %>
              <% if (student.id !== chosenPreSchool.id) { %>
              <div class="form-check">
                <label class="form-check-label">
                  <% if (chosenPreSchool.kidsToAvoid.some(function (kid) { %>
                    <% return kid.id === student.id %>
                  <% })) { %>
                    <input checked class="form-check-input mr-1" type="checkbox" name="kidsToAvoid" value="<%= student.id %>">
                  <% } else { %>
                    <input class="form-check-input mr-1" type="checkbox" name="kidsToAvoid" value="<%= student.id %>">
                  <% } %>
                  <%= student.name %>
                </label>
              </div>
            <% } %>
          <% }) %>
        </div>
        <% } %>
        <div class="form-group">
          <label class="control-label mb-0">Attendance</label><br>
          <small class="form-text text-muted mt-0 mb-2">Check the date(s) of previous session(s) attended by this student.<br>Select the tutor for this student at this session, or "Unknown" if unclear.</small>
          <% if (allSaturdates.length > 0) { %>
            <% allSaturdates.forEach(function (saturdate, index) { %>
              <div class="form-check">
                <label class="form-check-label">
                  <% if (chosenPreSchool.attendance.some(function (indivAtten) { %>
                    <% return indivAtten.date.id === saturdate.id %>
                  <% })) { %>
                    <input checked class="form-check-input mr-1" id="preSchool.<%= index %>.date" type="checkbox" name="saturdates" value="<%= saturdate.id %>">
                  <% } else { %>
                    <input class="form-check-input mr-1" id="preSchool.<%= index %>.date" type="checkbox" name="saturdates" value="<%= saturdate.id %>">
                  <% } %>
                  <%= formatDateLong(saturdate.date) %>
                </label>
                <script>
                  document.addEventListener('DOMContentLoaded', function () {
                    (function (i) {
                      var saturdatesCheckbox = document.getElementById('preSchool.' + i + '.date')
                      var preSchoolTutorDiv = document.getElementById('preSchool.' + i + '.tutor')
                      var preSchoolTutorSelect = preSchoolTutorDiv.getElementsByTagName('select')[0]
                      if (saturdatesCheckbox.checked) {
                        preSchoolTutorDiv.removeAttribute('style')
                      } else {
                        preSchoolTutorDiv.setAttribute('style', 'display:none; visibility:hidden')
                      }
                      saturdatesCheckbox.onchange = function () {
                        if (this.checked) {
                          if (preSchoolTutorSelect.hasChildNodes() && preSchoolTutorSelect.firstChild.value === "" && preSchoolTutorSelect.childNodes[1] === "") {
                            preSchoolTutorSelect.remove(preSchoolTutorSelect.firstChild)
                          }
                          preSchoolTutorDiv.removeAttribute('style')
                        } else {
                          if (preSchoolTutorSelect.hasChildNodes()) {
                            var blank = new Option("Please select", "", true, true)
                            blank.setAttribute('disabled', true)
                            blank.setAttribute('hidden', true)
                            preSchoolTutorSelect.insertBefore(blank, preSchoolTutorSelect.firstChild)
                          }
                          preSchoolTutorDiv.setAttribute('style', 'display:none; visibility:hidden')
                        }
                      }
                    }(<%= index %>))
                  })
                </script>
                <% var selectedAttendance = chosenPreSchool.attendance.find(function (indivAtten) { %>
                  <% return indivAtten.date.id === saturdate.id %>
                <% }) %>
                <div class="row ml-1">
                  <div id="preSchool.<%= index %>.tutor" class="form-group mb-0" style="display: none; visibility: hidden">
                    <label class="text-muted mb-0 mt-1 ml-4"><small>Tutor</small></label><br>
                    <select class="custom-select ml-4" name="preSchoolTutors">
                      <% if (!selectedAttendance) { %>
                        <option value="" selected disabled hidden>Please select</option>
                      <% } %>
                      <% if (selectedAttendance && !selectedAttendance.tutor) { %>
                        <option selected value="unknown">Unknown</option>
                      <% } else { %>
                        <option value="unknown">Unknown</option>
                      <% } %>
                      <% if (allTutors.length > 0) { %>
                        <% allTutors.forEach(function (tutor) { %>
                          <% if (selectedAttendance && selectedAttendance.tutor && selectedAttendance.tutor.id === tutor.id) { %>
                            <option selected value="<%= tutor.id %>"><%= tutor.name %></option>
                          <% } else { %>
                            <option value="<%= tutor.id %>"><%= tutor.name %></option>
                          <% } %>
                        <% }) %>
                      <% } %>
                    </select>
                  </div>
                </div>
              </div>
            <% }) %>
          <% } %>
        </div><br>
        <button id="submitButton" class="btn btn-primary float-right" type="submit" style="cursor:pointer;">Submit</button>
      </form>
    </div>
  </div>
</div>
<%
  var javaScriptFiles = [
    'nameLengthCheck',
    'generalCommentLengthCheck',
    'allStudentChecksToSubmit'
  ]
  javaScriptFiles.forEach(function (file) {
%>
<script type="text/javascript" src="/client_side_helpers/<%= file %>.js"></script>
<%  })  %>