<div class="jumbotron" style="background-color:#d9edf7">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 offset-sm-3">
        <h2 class="display-4">post-fitzroy</h2>
        <hr class="my-4">
        <p>sign up a new student</p>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-6 offset-sm-3">
      <form action="/students/post-fitzroy" method="POST" class="mb-5">
        <div id="name-form-group" class="form-group">
          <label for="name">Name</label>
          <input id="name" class="form-control" type="text" name="name" placeholder="Student's name">
          <small id="nameLengthMessage" class="form-text form-control-feedback"></small>
        </div>
        <div class="form-group">
          <label for="gender">Gender</label><br>
          <select class="custom-select" id="gender" name="gender">
            <option value="" selected disabled hidden>Please select</option>
            <option value="male">Male</option>
            <option value="female">Female</option>
          </select>
        </div>
        <div class="form-group">
          <label for="age">Age</label><br>
          <select class="custom-select" id="age" name="age">
            <option value="" selected disabled hidden>Please select</option>
            <% for (var i = 5; i < 21; i++) { %>
            <option value="<%= i %>"><%= i %></option>
            <% } %>
          </select>
        </div>
        <div class="form-group">
          <label for="family">Family code</label><br>
          <select class="custom-select" id="family" name="family">
            <option value="" selected disabled hidden>Please select</option>
            <option value="">Unknown</option>
            <option value="A4">A4</option>
            <option value="B6">B6</option>
            <option value="C3">C3</option>
            <option value="D4">D4</option>
            <option value="E4">E4</option>
            <option value="F2">F2</option>
            <option value="G2">G2</option>
            <option value="H4">H4</option>
            <option value="J3">J3</option>
            <option value="K3">K3</option>
            <option value="L2">L2</option>
            <option value="M2">M2</option>
            <option value="X2">X2</option>
            <option value="Z4">Z4</option>
          </select>
        </div>
        <div class="form-group">
          <label for="schoolLevel">School level</label><br>
          <select class="custom-select" id="schoolLevel" name="schoolLevel">
            <option value="" selected disabled hidden>Please select</option>
            <option value="Pre-primary">Pre-primary</option>
            <% for (var j = 1; j < 7; j++) { %>
            <option value="Primary <%= j %>">Primary <%= j %></option>
            <% } %>
            <% for (var k = 1; k < 6; k++) { %>
            <option value="Secondary <%= k %>">Secondary <%= k %></option>
            <% } %>
          </select>
        </div>
        <div class="form-group">
          <label for="startDate" class="mb-0">When did this student join ReadAble?</label><br>
          <small class="form-text text-muted mt-0 mb-2">day / month / year</small>
          <input class="form-control" id="startDate" type="date" name="startDate" value="<%= new Date().getFullYear() %>-<%= (new Date().getMonth()+1).toString().length < 2 ? '0' + (new Date().getMonth()+1).toString() : (new Date().getMonth()+1).toString() %>-<%= (new Date().getDate()).toString().length < 2 ? '0' + (new Date().getDate()).toString() : (new Date().getDate()).toString() %>">
        </div>
        <div class="form-group">
          <label for="oneOnOne">Needs one-on-one attention?</label><br>
          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input mr-1" type="radio" name="oneOnOne" value="true">
              Yes
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input mr-1" type="radio" name="oneOnOne" value="false" checked>
              No
            </label>
          </div>
        </div>
        <div class="form-group">
          <label for="intervention">Requires intervention owing to frequent absenteeism?</label><br>
          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input mr-1" type="radio" name="intervention" value="true">
              Yes
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input mr-1" type="radio" name="intervention" value="false" checked>
              No
            </label>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label">Preferred tutor(s) (up to 3)</label><br>
          <% allTutors.forEach(function (tutor) { %>
            <div class="form-check">
              <label class="form-check-label">
                <input class="form-check-input mr-1" type="checkbox" name="preferredTutors" value="<%= tutor.id %>">
                <%= tutor.name %>
              </label>
            </div>
          <% }) %>
        </div>
        <% if (allPostFitzroys.length > 0) { %>
        <div class="form-group">
          <label class="control-label">Any student(s) to avoid?</label><br>
          <% allPostFitzroys.forEach(function (student) { %>
            <div class="form-check">
              <label class="form-check-label">
                <input class="form-check-input mr-1" type="checkbox" name="kidsToAvoid" value="<%= student.id %>">
                <%= student.name %>
              </label>
            </div>
          <% }) %>
        </div>
        <% } %>
        <div class="form-group">
          <label class="control-label mb-0">Attendance</label><br>
          <small class="form-text text-muted mt-0 mb-2">Check the date(s) of previous session(s) attended by this student.<br>Select the tutor for this student at this session, or "Unknown" if unclear.</small>
          <% if (allSaturdates.length > 0) { %>
            <% allSaturdates.forEach(function (saturdate, index) { %>
              <div class="form-check">
                <label class="form-check-label">
                  <input class="form-check-input mr-1" id="postFitzroy.<%= index %>.date" type="checkbox" name="saturdates" value="<%= saturdate.id %>">
                  <%= formatDateLong(saturdate.date) %>
                </label>
                <script>
                  document.addEventListener('DOMContentLoaded', function () {
                    (function (i) {
                      var saturdatesCheckbox = document.getElementById('postFitzroy.' + i + '.date')
                      var postFitzroyTutorDiv = document.getElementById('postFitzroy.' + i + '.tutor')
                      saturdatesCheckbox.onchange = function () {
                        if (this.checked) {
                          postFitzroyTutorDiv.removeAttribute('style')
                        } else {
                          postFitzroyTutorDiv.setAttribute('style', 'display:none; visibility:hidden')
                        }
                      }
                    }(<%= index %>))
                  })
                </script>
                <div class="row ml-1">
                  <div id="postFitzroy.<%= index %>.tutor" class="form-group mb-0" style="display: none; visibility: hidden">
                    <label for="postFitzroy.<%= index %>.tutor" class="text-muted mb-0 mt-1 ml-4"><small>Tutor</small></label><br>
                    <select class="custom-select mb-3 ml-4" id="postFitzroy.<%= index %>.tutor" name="postFitzroyTutors">
                      <option value="" selected disabled hidden>Please select</option>
                      <option value="unknown">Unknown</option>
                      <% if (allTutors.length > 0) { %>
                        <% allTutors.forEach(function (tutor) { %>
                      <option value="<%= tutor.id %>"><%= tutor.name %></option>
                        <% }) %>
                      <% } %>
                    </select>
                  </div>
                </div>
              </div>
            <% }) %>
          <% } %>
        </div><br>
        <button id="submitButton" class="btn btn-primary float-right" type="submit" style="cursor:pointer;">Submit</button>
      </form>
    </div>
  </div>
</div>
<%
  var javaScriptFiles = [
    'nameLengthCheck'
  ]
  javaScriptFiles.forEach(function (file) {
%>
<script type="text/javascript" src="/javascript/<%= file %>.js"></script>
<%  })  %>