<div class="jumbotron" style="background-color:#d9edf7">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 offset-sm-3">
        <h2 class="display-4"><%= chosenPostFitzroy.name %></h2>
        <hr class="my-4">
        <p class="mb-1"><a href="/students/post-fitzroy">post-fitzroy</a> student</p>
        <p>
          <span class="badge badge-pill badge-primary"><%= chosenPostFitzroy.gender %></span>
          <span class="badge badge-pill badge-primary"><%= chosenPostFitzroy.age %> years old</span>
          <span class="badge badge-pill badge-primary"><%= chosenPostFitzroy.schoolLevel %></span>
          <% if (chosenPostFitzroy.family !== 'Unknown') { %>
            <span class="badge badge-pill badge-primary">family group <%= chosenPostFitzroy.family %></span>
          <% } %>
          <span class="badge badge-pill badge-primary">joined <%= formatDateShort(chosenPostFitzroy.startDate) %></span>
          <span class="badge badge-pill badge-primary"><%= chosenPostFitzroy.archived ? "archived" : "active" %></span>
        </p>
      </div>
    </div>
  </div>
</div>
<div class="container my-5">
  <div class="row">
    <div class="col-sm-6 offset-sm-3">
      <div class="d-flex flex-column flex-md-row">
        <% if (latestSaturdate && !chosenPostFitzroy.archived) { %>
          <a href="/students/post-fitzroy/attend/<%= chosenPostFitzroy.id %>" class="btn btn-primary my-2 mx-2">Add latest attendance</a>
        <% } %>
        <a href="/students/post-fitzroy/edit/<%= chosenPostFitzroy.id %>" class="btn btn-primary my-2 mx-2">Edit student details</a>
        <%
          var isAdmin = "cursor: pointer;"
          if (currentUser && !currentUser.admin) {
            isAdmin = "display: none; visibility: hidden;"
          }
        %>
        <button class="btn btn-warning my-2 mx-2" type="button" style="<%= isAdmin %>" data-toggle="modal" data-target="#archiveModal">
          <%= chosenPostFitzroy.archived ? "Reactivate" : "Archive" %> this student
        </button>
        <div class="modal fade" id="archiveModal" tabindex="-1" role="dialog" aria-labelledby="archiveModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="archiveModalLabel">Warning</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                This student is currently <span class="font-weight-bold"><%= chosenPostFitzroy.archived ? "archived" : "active" %></span>. <%= chosenPostFitzroy.archived ? "Reactivate this student if he/she will be attending ReadAble regularly again." : "Only archive this student if he/she will not be attending ReadAble for the foreseeable future." %><br><br>
                If you are sure, enter the student's name below:
                <div class="input-group">
                  <input id="archiveCheck" type="text" class="form-control my-3" placeholder="Student's name">
                </div>
              </div>
              <div class="modal-footer">
                <button class="btn btn-secondary" type="button" style="cursor:pointer;"data-dismiss="modal">Cancel</button>
                <form action="/students/post-fitzroy/archive/<%= chosenPostFitzroy._id %>?_method=PUT" method="POST">
                  <input type="hidden" id="archived" name="archived" value=<%= chosenPostFitzroy.archived ? "false" : "true" %> />
                  <button id="archiveButton" class="btn btn-warning" type="submit" disabled><%= chosenPostFitzroy.archived ? "Reactivate" : "Archive" %></button>
                </form>
              </div>
            </div>
          </div>
        </div>
        <button class="btn btn-danger my-2 mx-2" type="button" style="<%= isAdmin %>" data-toggle="modal" data-target="#deleteModal">
          Delete this student
        </button>
        <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Warning</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                Once deleted, this student's details can never be recovered.<br><br>
                If you are sure, enter the student's name below:
                <div class="input-group">
                  <input id="deleteCheck" type="text" class="form-control my-3" placeholder="Student's name">
                </div>
              </div>
              <div class="modal-footer">
                <button class="btn btn-secondary" type="button" style="cursor:pointer;"data-dismiss="modal">Cancel</button>
                <form action="/students/post-fitzroy/<%= chosenPostFitzroy._id %>?_method=DELETE" method="POST">
                  <button id="deleteButton" class="btn btn-danger" type="submit" disabled>Delete</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container mb-5">
  <div class="row">
    <div class="col-sm-6 offset-sm-3">
      <div class="card m-2 mb-3">
        <div class="card-header">
          Notes
        </div>
        <div class="card-block">
          <div class="list-group">
            <% if (chosenPostFitzroy.oneOnOne) { %>
              <div class="list-group-item">Needs one-on-one attention</div>
            <% } else { %>
              <div class="list-group-item">Does not need one-on-one attention</div>
            <% } %>
            <% if (chosenPostFitzroy.intervention) { %>
              <div class="list-group-item">Requires intervention for absenteeism</div>
            <% } else { %>
              <div class="list-group-item">Does not require intervention for absenteeism</div>
            <% } %>
            <% if (chosenPostFitzroy.generalComment) { %>
              <div class="list-group-item"><%= chosenPostFitzroy.generalComment %></div>
            <% } %>
            <% if (chosenPostFitzroy.kidsToAvoid.length > 0) { %>
              <div class="list-group-item">Should not be grouped with&nbsp
                <span>
                <% chosenPostFitzroy.kidsToAvoid.forEach(function (kidToAvoid, index, array) { %>
                  <% if (array.length === 1 || index === array.length - 2) { %>
                    <a href="/students/post-fitzroy/<%= kidToAvoid.id %>"><%= kidToAvoid.name %></a>
                  <% } else if (index === array.length - 1) { %>
                    and <a href="/students/post-fitzroy/<%= kidToAvoid.id %>"><%= kidToAvoid.name %></a>
                  <% } else { %>
                    <a href="/students/post-fitzroy/<%= kidToAvoid.id %>"><%= kidToAvoid.name %></a>,
                  <% } %>
                <% }) %>
                </span>
              </div>
            <% } %>
            <% if (chosenPostFitzroy.preferredTutors.length > 0) { %>
              <div class="list-group-item">
                <% if (chosenPostFitzroy.preferredTutors.length === 1) { %>
                  Favourite tutor:&nbsp
                <% } else if (chosenPostFitzroy.preferredTutors.length > 1) { %>
                  Favourite tutors:&nbsp
                <% } %>
                <span>
                <% chosenPostFitzroy.preferredTutors.forEach(function(preferredTutor, index, array) { %>
                  <% if (array.length === 1) { %>
                    <a href="/tutors/<%= preferredTutor.id %>"><%= preferredTutor.name %></a>&nbsp
                  <% } else if (index === array.length - 2) { %>
                    <a href="/tutors/<%= preferredTutor.id %>"><%= preferredTutor.name %></a>
                  <% } else if (index === array.length - 1) { %>
                    and <a href="/tutors/<%= preferredTutor.id %>"><%= preferredTutor.name %></a>
                  <% } else { %>
                    <a href="/tutors/<%= preferredTutor.id %>"><%= preferredTutor.name %></a>,&nbsp
                  <% } %>
                <% }) %>
                </span>
              </div>
            <% } %>
          </div>
        </div>
      </div>
      <div class="card m-2">
        <div class="card-header">
          Attendance
        </div>
        <div class="card-block">
          <div class="list-group">
            <% if (chosenPostFitzroy.attendance.length > 0) { %>
              <% sortByProperty(chosenPostFitzroy.attendance, "date", true).forEach(function (indivAttendance) { %>
                <div class="list-group-item justify-content-start">
                  <div style="flex-grow: 1;">
                    <a href="/history/<%= indivAttendance.date.id %>" style="flex-grow: 1;">
                      <span class="badge badge-pill badge-default">
                        <%= formatDateShort(indivAttendance.date.date) %>
                      </span>
                    </a>
                  </div>
                  <% if (allComments.length > 0) { %>
                    <% allComments.filter(function (comment) { %>
                      <% return comment.date.id === indivAttendance.date.id %>
                    <% }).forEach(function (comment) { %>
                      <div style="flex-grow: <%= indivAttendance.tutor ? 1 : 2 %>; cursor: pointer;">
                        <a data-toggle="popover" tabindex="0" data-content="<a href='/comments/<%= comment.id %>'><%= comment.contents %></a>">
                          <span class="badge badge-pill badge-info">
                            ' '
                          </span>
                        </a>
                      </div>
                    <% }) %>
                  <% } %>
                  <% if (indivAttendance.tutor) { %>
                    <a href="/tutors/<%= indivAttendance.tutor.id %>">
                      <span class="badge badge-pill badge-default">
                        <%= indivAttendance.tutor.name %>
                      </span>
                    </a>
                  <% } %>
                </div>
              <% }) %>
            <% } else { %>
              <div class="list-group-item">No sessions yet</div>
            <% } %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%
  var javaScriptFiles = [
    'studentArchiveCheck',
    'studentDeleteCheck'
  ]
  javaScriptFiles.forEach(function (file) {
%>
<script id="<%= file %>" data-student-name="<%= chosenPostFitzroy.name %>" type="text/javascript" src="/client_side_helpers/<%= file %>.js"></script>
<%  })  %>
