<div class="container">
  <div class="row">
    <div class="col-sm-8 offset-sm-2">
      <nav class="navbar navbar-default navbar-toggleable-xl navbar-light">
        <a class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
        <% if (currentUser) { %>
        <p>hi, <%= currentUserName %>!</p>
        <% } %>
        <% if (!currentUser) { %>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
          <span>☰</span>
        </button>
        <% } %>
        </a>
        <a class="nav-link" href="/">Home</a>
        <div class="collapse navbar-collapse ml-auto" id="navbarSupportedContent">
          <div class="navbar-nav ml-auto">
          <%
          var loggedIn = ""
          var loggedOut = ""
          var isAdminOrCatchPlus= ""
          var isAdmin = ""
          var currentUserName = ""
          if (currentUser) {
            loggedIn = "display:none; visibility:hidden;"
            if (currentUser.userType !== "catchPlus" && !currentUser.admin) {
              isAdminOrCatchPlus = "display:none; visibility: hidden;"
            }
            if (!currentUser.admin) {
              isAdmin = "display:none; visibility: hidden;"
            }
            currentUserName = currentUser.name
          } else if (!currentUser) {
            loggedOut = "display:none; visibility:hidden;"
            currentUserName = ""
          }
          %>
            <a class="nav-item nav-link" href="/auth/signup" style="<%= loggedIn %>">sign up </a>
            <a class="nav-item nav-link" href="/auth/login" style="<%= loggedIn %>">log in</a>
            <div class="dropdown">
              <a class="nav-item nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" style="cursor:pointer; <%= loggedOut %>">hey, <%= currentUserName %>!</a>
              <div class="dropdown-menu dropdown-menu-right" style="<%= loggedOut %> position: absolute; z-index: 1;">
                <!--<h6 class="dropdown-header" style="<%= loggedOut %>"><em>let us know if you are</em></h6>
                <a class="dropdown-item" href="/attend" style="<%= loggedOut %>">attending</a>
                <h6 class="dropdown-header" style="<%= loggedOut %>"><em>view this Saturday's</em></h6>
                <a class="dropdown-item" href="/group" style="<%= loggedOut %>">groups</a>-->
                <h6 class="dropdown-header"><em>students</em></h6>
                <a class="dropdown-item" href="/students/new" style="<%= isAdminOrCatchPlus %>">sign up a new one</a>
                <a class="dropdown-item" href="/students/attendance" style="<%= isAdminOrCatchPlus %>">attendance</a>
                <a class="dropdown-item" href="/students/pre-school">pre-school</a>
                <a class="dropdown-item" href="/students/fitzroy">fitzroy</a>
                <a class="dropdown-item" href="/students/post-fitzroy">post-fitzroy</a>
                <div class="dropdown-divider"></div>
                <h6 class="dropdown-header"><em>tutors</em></h6>
                <a class="dropdown-item" href="/tutors">all tutors</a>
                <div class="dropdown-divider"></div>
                <h6 class="dropdown-header"><em>history</em></h6>
                <a class="dropdown-item" href="/history">all sessions held</a>
                <div class="dropdown-divider"></div>
                <h6 class="dropdown-header"><em>comments</em></h6>
                <a class="dropdown-item" href="/comments">all comments</a>
                <div class="dropdown-divider"></div>
                <h6 class="dropdown-header"><em>stay don't go</em></h6>
                <a class="dropdown-item" href="/auth/logout">log out</a>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </div>
  </div>
</div>