<div class="jumbotron" style="background-color:#d9edf7">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 offset-sm-3">
        <h2 class="display-4">tutors</h2><br>
        <hr class="my-4">
        <p>indicated future attendance</p>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <% if (latestSaturdates.length > 0) { %>
      <div class="col-sm-6 offset-sm-3">
        <% latestSaturdates.forEach(function (saturdate) { %>
          <a href="/history/<%= saturdate.id %>"><h4 class="mt-5 mb-4"><%= formatDateLong(saturdate.date) %></h4></a>
          <div class="list-group">
            <% var attending = function (tutor) { %>
              <% return tutor.attendance.some(function (indivAtten) { %>
                <% return indivAtten.date.id === saturdate.id && indivAtten.attending === true %>
              <% }) %>
            <% } %>
            <% var notAttending = function (tutor) { %>
              <% return tutor.attendance.some(function (indivAtten) { %>
                <% return indivAtten.date.id === saturdate.id && indivAtten.attending === false %>
              <% }) %>
            <% } %>
            <div class="list-group-item list-group-item-info flex-nowrap">
              <span class="d-inline-block text-truncate mr-1" style="flex-grow: 1;">
                Attendance
              </span>
              <span class="mr-2" style="flex-shrink: 0;">
                <%= allTutors.filter(function (tutor) { return attending(tutor) }).length %> / <%= allTutors.length %>
              </span>
            </div>
              <% allTutors.forEach(function (tutor) { %>
                <a class="list-group-item list-group-item-action justify-content-between <%= attending(tutor) && 'list-group-item-success' %> <%= notAttending(tutor) && 'list-group-item-danger' %>" href="/tutors/attendance/<%= tutor.id %>">
                  <span class="d-inline-block text-truncate">
                    <%= tutor.name %>
                  </span>
                </a>
              <% }) %>
          </div>
        <% }) %>
      </div>
    <% } else { %>
      <div class="col-sm-6 offset-sm-3">
        <p>No future tutor attendance information yet. Make sure that future sessions have been <a href="/history" target="_blank">added</a>, and that each tutor has <a href="/tutors/attendance/<%= currentUser.id %>" target="_blank">updated</a> their future attendance information</p>
      </div>
    <% } %>
  </div>
</div>
