<div class="jumbotron" style="background-color:#d9edf7">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 offset-sm-3">
        <h2 class="display-4"><%= formatDateLong(chosenSaturdate.date) %></h2>
        <hr class="my-4">
        <p><%= chosenSaturdate.date < Date.now() - 16 * 60 * 60 * 1000 ? 'past' : chosenSaturdate.date > Date.now() + 8 * 60 * 60 * 1000 ? 'future' : 'today\'s' %> ReadAble session</p>
      </div>
    </div>
  </div>
</div>
<div class="container mb-5">
  <div class="row">
    <div class="col-sm-8 offset-sm-2">
      <a href="/students/pre-school"><h4 class="mt-5 mb-4">pre-school</h4></a>
      <div class="d-flex flex-wrap justify-content-left mb-4">
        <% if (allPreSchools.length > 0) { %>  
          <% var psUniqueTutors = [...new Set(allPreSchools.map(function (preSchool) { %>
            <% return preSchool.attendance.filter(function (indivAttendance) { %>
              <% return indivAttendance.date.toString() === chosenSaturdate.toString() %>
            <% }).map(function (indivAtten) { %>
              <% return indivAtten.tutor %>
            <% }) %>
          <% }).reduce(function (a, b) { %>
            <% return a.concat(b) %>
          <% }, []).filter(function (item, ind, arr) { %>
            <% return arr.includes(null) && arr.includes(undefined) ? item !== null : true %>
          <% }))] %>
          <% psUniqueTutors.forEach(function (psUniqueTutor) { %>
            <div class="card m-2" style="width: 21rem;">
              <div class="card-header">
                <% if (psUniqueTutor) { %>
                  <a href="/tutors/<%= psUniqueTutor.id %>">
                    <%= psUniqueTutor.name %>
                  </a>
                <% } else { %>
                  Unknown tutor
                <% } %>
              </div>
              <div class="card-block">
                <div class="list-group">
                  <% var thisTutorPreSchools = allPreSchools.filter(function (preSchool) { %>
                    <% return preSchool.attendance.some(function (indivAtten) { %>
                      <% return indivAtten.tutor === psUniqueTutor && indivAtten.date.toString() === chosenSaturdate.toString() %>
                    <% }) %>
                  <% }) %>
                  <% thisTutorPreSchools.forEach(function (thisTutorPreSchool) { %>
                    <% var psWidth = "" %>
                    <div class="list-group-item">
                      <% var thisPreSchoolComment = allComments.find(function (comment) { %>
                        <% return comment.preSchools.some(function (indivPS) { %>
                          <% return indivPS.id === thisTutorPreSchool.id %>
                        <% }) %>
                      <% }) %>
                      <% if (thisPreSchoolComment) { %>
                        <% psWidth = "85%" %>
                      <% } else { %>
                        <% psWidth = "100%" %>
                      <% } %>
                      <span class="d-inline-block text-truncate" style="width: <%= psWidth %>;">
                        <a href="/students/pre-school/<%= thisTutorPreSchool.id %>">
                          <%= thisTutorPreSchool.name %>
                        </a>
                      </span>
                      <% if (thisPreSchoolComment) { %>
                        <span class="badge badge-pill float-right" style="cursor: pointer;">
                          <a data-toggle="popover" tabindex="0" data-content="<a href='/comments/<%= thisPreSchoolComment.id %>'><%= thisPreSchoolComment.contents %></a>">
                            <span class="badge badge-pill badge-info">
                              ' '
                            </span>
                          </a>
                        </span>
                      <% } %>
                    </div>
                  <% }) %>
                </div>
              </div>
            </div>
          <% }) %>
        <% } else { %>
          <p>No students attended this session</p>
        <% } %>
      </div>
      <div class="mt-5 mb-2 d-flex flex-wrap justify-content-between">
        <a href="/students/fitzroy"><h4 class="mb-2 mr-2">fitzroy</h4></a>
        <% if (allFitzroys.length > 0) { %>
          <div class="d-flex mb-3 justify-content-lg-end align-items-center" style="width: 21rem;">
            Book legend:
            <span class="badge badge-pill badge-success ml-2">
              Completed
            </span>
            <span class="badge badge-pill badge-warning ml-2">
              Not completed
            </span>
          </div>
        <% } %>
      </div>
      <div class="d-flex flex-wrap justify-content-left mb-4">
        <% if (allFitzroys.length > 0) { %>
          <% var fUniqueTutors = [...new Set(allFitzroys.map(function (fitzroy) { %>
            <% return fitzroy.attendance.filter(function (indivAttendance) { %>
              <% return indivAttendance.date.toString() === chosenSaturdate.toString() %>
            <% }).map(function (indivAtten) { %>
              <% return indivAtten.tutor %>
            <% }) %>
          <% }).reduce(function (a, b) { %>
            <% return a.concat(b) %>
          <% }, []).filter(function (item, ind, arr) { %>
            <% return arr.includes(null) && arr.includes(undefined) ? item !== null : true %>
          <% }))] %>
          <% fUniqueTutors.forEach(function (fUniqueTutor) { %>
            <div class="card m-2" style="width: 21rem;">
              <div class="card-header">
                <% if (fUniqueTutor) { %>
                  <a href="/tutors/<%= fUniqueTutor.id %>"><%= fUniqueTutor.name %></a>
                <% } else { %>
                  Unknown tutor
                <% } %>
              </div>
              <div class="card-block">
                <div class="list-group">
                  <% var thisTutorFitzroys = allFitzroys.filter(function (fitzroy) { %>
                    <% return fitzroy.attendance.some(function (indivAtten) { %>
                      <% return indivAtten.tutor === fUniqueTutor && indivAtten.date.toString() === chosenSaturdate.toString() %>
                    <% }) %>
                  <% }) %>
                  <% thisTutorFitzroys.forEach(function (thisTutorFitzroy) { %>
                    <% var fBadgeStyle = "" %>
                    <% var fMinWidth = "" %>
                    <% var thisFDate = thisTutorFitzroy.attendance.filter(function (indivAtten) { %>
                      <% return indivAtten.date.toString() === chosenSaturdate.toString() %>
                    <% })[0] %>
                    <% if (thisFDate.completed || !thisFDate.hasOwnProperty('completed')) { %>
                      <% fBadgeStyle = "badge-success" %>
                    <% } else { %>
                      <% fBadgeStyle = "badge-warning" %>
                    <% } %>
                    <div class="list-group-item justify-content-between">
                      <% var thisFitzroyComment = allComments.find(function (comment) { %>
                        <% return comment.fitzroys.some(function (indivF) { %>
                          <% return indivF.id === thisTutorFitzroy.id %>
                        <% }) %>
                      <% }) %>
                      <% if (thisFitzroyComment) { %>
                        <% fMinWidth = "60%" %>
                      <% } else { %>
                        <% fMinWidth = "80%" %>
                      <% } %>
                      <span class="d-inline-block text-truncate" style="min-width: <%= fMinWidth %>; max-width: 66%;">
                        <a href="/students/fitzroy/<%= thisTutorFitzroy.id %>">
                          <%= thisTutorFitzroy.name %>
                        </a>
                      </span>
                      <% if (thisFitzroyComment) { %>
                        <span class="badge badge-pill float-right" style="cursor: pointer;">
                          <a data-toggle="popover" tabindex="0" data-content="<a href='/comments/<%= thisFitzroyComment.id %>'><%= thisFitzroyComment.contents %></a>">
                            <span class="badge badge-pill badge-info">
                              ' '
                            </span>
                          </a>
                        </span>
                      <% } %>
                      <span class="badge badge-pill float-right <%= fBadgeStyle %>">
                        <% if (thisFDate.book) { %>  
                          <%= fitzroyBookLevelPlusX(thisFDate.book) %>
                        <% } else { %>
                          Other
                        <% } %>
                      </span>
                    </div>
                  <% }) %>
                </div>
              </div>
            </div>
          <% }) %>
        <% } else { %>
          <p>No students attended this session</p>
        <% } %>
      </div>
      <a href="/students/post-fitzroy"><h4 class="mt-5 mb-4">post-fitzroy</h4></a>
      <div class="d-flex flex-wrap justify-content-left mb-4">
        <% if (allPostFitzroys.length > 0) { %>
          <% var pfUniqueTutors = [...new Set(allPostFitzroys.map(function (postFitzroy) { %>
            <% return postFitzroy.attendance.filter(function (indivAttendance) { %>
              <% return indivAttendance.date.toString() === chosenSaturdate.toString() %>
            <% }).map(function (indivAtten) { %>
              <% return indivAtten.tutor %>
            <% }) %>
          <% }).reduce(function (a, b) { %>
            <% return a.concat(b) %>
          <% }, []).filter(function (item, ind, arr) { %>
            <% return arr.includes(null) && arr.includes(undefined) ? item !== null : true %>
          <% }))] %>
          <% pfUniqueTutors.forEach(function (pfUniqueTutor) { %>
            <div class="card m-2" style="width: 21rem;">
              <div class="card-header">
                <% if (pfUniqueTutor) { %>
                  <a href="/tutors/<%= pfUniqueTutor.id %>"><%= pfUniqueTutor.name %></a>
                <% } else { %>
                  Unknown tutor
                <% } %>
              </div>
              <div class="card-block">
                <div class="list-group">
                  <% var thisTutorPostFitzroys = allPostFitzroys.filter(function (postFitzroy) { %>
                    <% return postFitzroy.attendance.some(function (indivAtten) { %>
                      <% return indivAtten.tutor === pfUniqueTutor && indivAtten.date.toString() === chosenSaturdate.toString() %>
                    <% }) %>
                  <% }) %>
                  <% thisTutorPostFitzroys.forEach(function (thisTutorPostFitzroy) { %>
                    <% var pfWidth = "" %>
                    <div class="list-group-item" >
                      <% var thisPostFitzroyComment = allComments.find(function (comment) { %>
                        <% return comment.postFitzroys.some(function (indivPF) { %>
                          <% return indivPF.id === thisTutorPostFitzroy.id %>
                        <% }) %>
                      <% }) %>
                      <% if (thisPostFitzroyComment) { %>
                        <% pfWidth = "85%" %>
                      <% } else { %>
                        <% pfWidth = "100%" %>
                      <% } %>
                      <span class="d-inline-block text-truncate" style="width: <%= pfWidth %>;">
                        <a href="/students/post-fitzroy/<%= thisTutorPostFitzroy.id %>">
                          <%= thisTutorPostFitzroy.name %>
                        </a>
                      </span>
                      <% if (thisPostFitzroyComment) { %>
                        <span class="badge badge-pill float-right" style="cursor: pointer;">
                          <a data-toggle="popover" tabindex="0" data-content="<a href='/comments/<%= thisPostFitzroyComment.id %>'><%= thisPostFitzroyComment.contents %></a>">
                            <span class="badge badge-pill badge-info">
                              ' '
                            </span>
                          </a>
                        </span>
                      <% } %>
                    </div>
                  <% }) %>
                </div>
              </div>
            </div>
          <% }) %>
        <% } else { %>
          <p>No students attended this session</p>
        <% } %>
      </div>
    </div>
  </div>
</div>
<div class="container mb-5">
  <div class="row">
    <div class="col-sm-6 offset-sm-3 text-center text-md-right">
      <form action="/history/<%= chosenSaturdate._id %>?_method=DELETE" method="POST">
        <button class="btn btn-danger mt-5" type="submit" <%= allPreSchools.length > 0 || allFitzroys.length > 0 || allPostFitzroys.length > 0 || allComments.length > 0 || allTutors.length > 0 ? 'disabled' : 'style=cursor:pointer;' %>>Delete this session</button>
      </form>
    </div>
  </div>
</div>