<div class="jumbotron" style="background-color:#d9edf7">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 offset-sm-3">
        <h2 class="display-4"><%= formatDateLong(chosenSaturdate.date) %></h2>
        <hr class="my-4">
        <p>past ReadAble session</p>
      </div>
    </div>
  </div>
</div>
<div class="container mb-5">
  <div class="row">
    <div class="col-sm-8 offset-sm-2">
      <a href="/students/pre-school"><h4 class="mt-5 mb-4">pre-school</h4></a>
      <div class="d-flex flex-wrap justify-content-left mb-4">
        <% if (allPreSchools.length > 0) { %>  
          <% var psUniqueTutors = [...new Set(allPreSchools.map(function (preSchool) { %>
            <% return preSchool.attendance.map(function (indivAtten) { %>
              <% return indivAtten.tutor %>
            <% }) %>
          <% }).reduce(function (a, b) { %>
            <% return a.concat(b) %>
          <% }, []))] %>
          <% psUniqueTutors.forEach(function (psUniqueTutor) { %>
            <div class="card m-2" style="width: 21rem;">
              <div class="card-header">
                <% if (psUniqueTutor) { %>
                  <a href="/tutors/<%= psUniqueTutor.id %>">
                    <%= psUniqueTutor.name %>
                  </a>
                <% } else { %>
                  Unknown tutor
                <% } %>
              </div>
              <div class="card-block">
                <div class="list-group">
                  <% var thisTutorPreSchools = allPreSchools.filter(function (preSchool) { %>
                    <% return preSchool.attendance.some(function (indivAtten) { %>
                      <% return indivAtten.tutor === psUniqueTutor %>
                    <% }) %>
                  <% }) %>
                  <% thisTutorPreSchools.forEach(function (thisTutorPreSchool) { %>
                    <a class="list-group-item list-group-item-action" href="/students/pre-school/<%= thisTutorPreSchool.id %>">
                      <span class="d-inline-block text-truncate">
                        <%= thisTutorPreSchool.name %>
                      </span>
                    </a>
                  <% }) %>
                </div>
              </div>
            </div>
          <% }) %>
        <% } else { %>
          <p>No students attended this session</p>
        <% } %>
      </div>
      <a href="/students/fitzroy"><h4 class="mt-5 mb-4">fitzroy</h4></a>
      <div class="d-flex flex-wrap justify-content-left mb-4">
        <% if (allFitzroys.length > 0) { %>
          <% var fUniqueTutors = [...new Set(allFitzroys.map(function (fitzroy) { %>
            <% return fitzroy.attendance.map(function (indivAtten) { %>
              <% return indivAtten.tutor %>
            <% }) %>
          <% }).reduce(function (a, b) { %>
            <% return a.concat(b) %>
          <% }, []))] %>
          <% fUniqueTutors.forEach(function (fUniqueTutor) { %>
            <div class="card m-2" style="width: 21rem;">
              <div class="card-header">
                <% if (fUniqueTutor) { %>
                  <a href="/tutors/<%= fUniqueTutor.id %>"><%= fUniqueTutor.name %></a>
                <% } else { %>
                  Unknown tutor
                <% } %>
              </div>
              <div class="card-block">
                <div class="list-group">
                  <% var thisTutorFitzroys = allFitzroys.filter(function (fitzroy) { %>
                    <% return fitzroy.attendance.some(function (indivAtten) { %>
                      <% return indivAtten.tutor === fUniqueTutor %>
                    <% }) %>
                  <% }) %>
                  <% thisTutorFitzroys.forEach(function (thisTutorFitzroy) { %>
                    <% var fBadgeStyle = "" %>
                    <% var thisFDate = thisTutorFitzroy.attendance.filter(function (indivAtten) { %>
                      <% return indivAtten.date.toString() === chosenSaturdate.toString() %>
                    <% })[0] %>
                    <% if (!thisFDate.completed) { %>
                      <% fBadgeStyle = "badge-warning" %>
                    <% } else { %>
                      <% fBadgeStyle = "badge-success" %>
                    <% } %>
                    <a class="list-group-item list-group-item-action justify-content-between" href="/students/fitzroy/<%= thisTutorFitzroy.id %>">
                      <span class="d-inline-block text-truncate" style="max-width: 83%;">
                        <%= thisTutorFitzroy.name %>
                      </span>
                      <% if (thisFDate.book) { %>
                        &nbsp
                        <span class="badge badge-pill float-right <%= fBadgeStyle %>">
                          <%= fitzroyBookLevelPlusX(thisFDate.book) %>
                        </span>
                      <% } %>
                    </a>
                  <% }) %>
                </div>
              </div>
            </div>
          <% }) %>
        <% } else { %>
          <p>No students attended this session</p>
        <% } %>
      </div>
      <a href="/students/post-fitzroy"><h4 class="mt-5 mb-4">post-fitzroy</h4></a>
      <div class="d-flex flex-wrap justify-content-left mb-4">
        <% if (allPostFitzroys.length > 0) { %>
          <% var pfUniqueTutors = [...new Set(allPostFitzroys.map(function (postFitzroy) { %>
            <% return postFitzroy.attendance.map(function (indivAtten) { %>
              <% return indivAtten.tutor %>
            <% }) %>
          <% }).reduce(function (a, b) { %>
            <% return a.concat(b) %>
          <% }, []))] %>
          <% pfUniqueTutors.forEach(function (pfUniqueTutor) { %>
            <div class="card m-2" style="width: 21rem;">
              <div class="card-header">
                <% if (pfUniqueTutor) { %>
                  <a href="/tutors/<%= pfUniqueTutor.id %>"><%= pfUniqueTutor.name %></a>
                <% } else { %>
                  Unknown tutor
                <% } %>
              </div>
              <div class="card-block">
                <div class="list-group">
                  <% var thisTutorPostFitzroys = allPostFitzroys.filter(function (postFitzroy) { %>
                    <% return postFitzroy.attendance.some(function (indivAtten) { %>
                      <% return indivAtten.tutor === pfUniqueTutor %>
                    <% }) %>
                  <% }) %>
                  <% thisTutorPostFitzroys.forEach(function (thisTutorPostFitzroy) { %>
                    <a class="list-group-item list-group-item-action" href="/students/post-fitzroy/<%= thisTutorPostFitzroy.id %>">
                      <span class="d-inline-block text-truncate">
                        <%= thisTutorPostFitzroy.name %>
                      </span>
                    </a>
                  <% }) %>
                </div>
              </div>
            </div>
          <% }) %>
        <% } else { %>
          <p>No students attended this session</p>
        <% } %>
      </div>
    </div>      
  </div>    
</div>      
<div class="container mb-5">
  <div class="row">
    <div class="col-sm-6 offset-sm-3 text-center text-md-right">
      <form action="/history/<%= chosenSaturdate._id %>?_method=DELETE" method="POST">
        <button class="btn btn-danger mt-5" type="submit" <%= allPreSchools.length > 0 || allFitzroys.length > 0 || allPostFitzroys.length > 0 ? 'disabled' : 'style=cursor:pointer;' %>>Delete this session</button>
      </form>
    </div>
  </div>
</div>