<div class="jumbotron" style="background-color:#d9edf7">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 offset-sm-3">
        <h2 class="display-4"><%= formatDateLong(chosenSaturdate.date) %></h2>
        <hr class="my-4">
        <p>past ReadAble session</p>
      </div>
    </div>
  </div>
</div>
<div class="container mb-5">
  <div class="row">
    <div class="col-sm-6 offset-sm-3">
      <h3 class="lead">pre-school</h3>
        <% if (allPreSchools.length > 0) { %>
          <div class="list-group">
          <% allPreSchools.sort(function (preSchool1, preSchool2) { %>
            <% function findChosenSaturdate (indivAttend) { %>
              <% return indivAttend.date.id.toString() === chosenSaturdate.id.toString() %>
            <% } %>
            <% var indivAttend1 = preSchool1.attendance.filter(findChosenSaturdate) %>
            <% var indivAttend2 = preSchool2.attendance.filter(findChosenSaturdate) %>
            <% if (indivAttend1[0].tutor && indivAttend2[0].tutor) { %>
              <% if (indivAttend1[0].tutor < indivAttend2[0].tutor) { %>
                <% return -1 %>
              <% } else if (indivAttend1[0].tutor > indivAttend2[0].tutor) { %>
                <% return 1 %>
              <% } else { %>
                <% return 0 %>
              <% } %>
            <% } else if (indivAttend1[0].tutor && !indivAttend2[0].tutor) { %>
              <% return 1 %>
            <% } else if (indivAttend2[0].tutor && !indivAttend1[0].tutor) { %>
              <% return -1 %>
            <% } else { %>
              <% if (indivAttend1[0].id < indivAttend2[0].id) { %>
                <% return -1 %>
              <% } else if (indivAttend1[0].id > indivAttend2[0].id) { %>
                <% return 1 %>
              <% } else { %>
                <% return 0 %>
              <% } %>
            <% } %>
          <% }).forEach(function (preSchool) { %>
            <div class="list-group-item">
              <a href="/students/pre-school/<%= preSchool.id %>">
                <%= preSchool.name %>
              </a>
              <% preSchool.attendance.filter(function (indivAttendance) { %>
                <% return indivAttendance.date.id.toString() === chosenSaturdate.id.toString() %>
              <% }).forEach(function (indivAtten) { %>
                <% if (indivAtten.tutor) { %>
                  &nbsp &nbsp
                  <a href="/tutors/<%= indivAtten.tutor.id %>" style="text-decoration: none;">
                    <span class="badge badge-pill badge-default" style="vertical-align: text-bottom;">
                      <%= indivAtten.tutor.name %>
                    </span>
                  </a>
                <% } %>
              <% }) %>
            </div>
          <% }) %>
          </div>
        <% } else { %>
            <p>No students attended this session</p>
        <% } %>
      <h3 class="mt-5 lead">fitzroy</h3>
        <% if (allFitzroys.length > 0) { %>
        <div class="list-group">
          <% allFitzroys.sort(function (fitzroy1, fitzroy2) { %>
            <% function findChosenSaturdate (indivAttend) { %>
              <% return indivAttend.date.id === chosenSaturdate.id %>
            <% } %>
            <% var indivAttend1 = fitzroy1.attendance.filter(findChosenSaturdate) %>
            <% var indivAttend2 = fitzroy2.attendance.filter(findChosenSaturdate) %>
            <% if (indivAttend1[0].tutor && indivAttend2[0].tutor) { %>
              <% if (indivAttend1[0].tutor < indivAttend2[0].tutor) { %>
                <% return -1 %>
              <% } else if (indivAttend1[0].tutor > indivAttend2[0].tutor) { %>
                <% return 1 %>
              <% } else { %>
                <% return 0 %>
              <% } %>
            <% } else if (indivAttend1[0].tutor && !indivAttend2[0].tutor) { %>
              <% return 1 %>
            <% } else if (indivAttend2[0].tutor && !indivAttend1[0].tutor) { %>
              <% return -1 %>
            <% } else { %>
              <% if (indivAttend1[0].id < indivAttend2[0].id) { %>
                <% return -1 %>
              <% } else if (indivAttend1[0].id > indivAttend2[0].id) { %>
                <% return 1 %>
              <% } else { %>
                <% return 0 %>
              <% } %>
            <% } %>
          <% }).forEach(function (fitzroy) { %>
            <div class="list-group-item">
              <a href="/students/fitzroy/<%= fitzroy.id %>">
                <%= fitzroy.name %>
              </a>
              <% var badgeStyle = "" %>
              <% fitzroy.attendance.filter(function (indivAttendance) { %>
                <% return indivAttendance.date.id.toString() === chosenSaturdate.id.toString() %>
              <% }).forEach(function (indivAtten) { %>
                <% if (indivAtten.completed === false) { %>
                  <% badgeStyle = "badge-warning" %>
                <% } else { %>
                  <% badgeStyle = "badge-success" %>
                <% } %>
                &nbsp &nbsp<span class="badge badge-pill <%= badgeStyle %>"><%= indivAtten.book %></span>
                <% if (indivAtten.tutor) { %>
                  &nbsp &nbsp
                  <a href="/tutors/<%= indivAtten.tutor.id %>" style="text-decoration: none;">
                    <span class="badge badge-pill badge-default" style="vertical-align: text-bottom;">
                      <%= indivAtten.tutor.name %>
                    </span>
                  </a>
                <% } %>
              <% }) %>
            </div>
          <% }) %>
        </div>
        <% } else { %>
            <p>No students attended this session</p>
        <% } %>
      <h3 class="mt-5 lead">postFitzroy</h3>
        <% if (allPostFitzroys.length > 0) { %>
        <div class="list-group">
          <% allPostFitzroys.sort(function (postFitzroy1, postFitzroy2) { %>
            <% function findChosenSaturdate (indivAttend) { %>
              <% return indivAttend.date.id.toString() === chosenSaturdate.id.toString() %>
            <% } %>
            <% var indivAttend1 = postFitzroy1.attendance.filter(findChosenSaturdate) %>
            <% var indivAttend2 = postFitzroy2.attendance.filter(findChosenSaturdate) %>
            <% if (indivAttend1[0].tutor && indivAttend2[0].tutor) { %>
              <% if (indivAttend1[0].tutor < indivAttend2[0].tutor) { %>
                <% return -1 %>
              <% } else if (indivAttend1[0].tutor > indivAttend2[0].tutor) { %>
                <% return 1 %>
              <% } else { %>
                <% return 0 %>
              <% } %>
            <% } else if (indivAttend1[0].tutor && !indivAttend2[0].tutor) { %>
              <% return 1 %>
            <% } else if (indivAttend2[0].tutor && !indivAttend1[0].tutor) { %>
              <% return -1 %>
            <% } else { %>
              <% if (indivAttend1[0].id < indivAttend2[0].id) { %>
                <% return -1 %>
              <% } else if (indivAttend1[0].id > indivAttend2[0].id) { %>
                <% return 1 %>
              <% } else { %>
                <% return 0 %>
              <% } %>
            <% } %>
          <% }).forEach(function (postFitzroy) { %>
            <div class="list-group-item">
              <a href="/students/post-fitzroy/<%= postFitzroy.id %>">
                <%= postFitzroy.name %>
              </a>
              <% postFitzroy.attendance.filter(function (indivAttendance) { %>
                <% return indivAttendance.date.id.toString() === chosenSaturdate.id.toString() %>
              <% }).forEach(function (indivAtten) { %>
                <% if (indivAtten.tutor) { %>
                  &nbsp &nbsp
                  <a href="/tutors/<%= indivAtten.tutor.id %>" style="text-decoration: none;">
                    <span class="badge badge-pill badge-default" style="vertical-align: text-bottom;">
                      <%= indivAtten.tutor.name %>
                    </span>
                  </a>
                <% } %>
              <% }) %>
            </div>
          <% }) %>
        </div>
        <% } else { %>
            <p>No students attended this session</p>
        <% } %>
    <form action="/history/<%= chosenSaturdate._id %>?_method=DELETE" method="POST">
      <button class="btn btn-danger mt-5" type="submit" style="cursor:pointer;">Delete this session</button>
    </form>
    </div>
  </div>
</div>