<div class="jumbotron" style="background-color:#d9edf7">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 offset-sm-3">
        <h2 class="display-4">comments</h2>
        <hr class="my-4">
        <p>all</p>
      </div>
    </div>
  </div>
</div>
<% if (currentUser && currentUser.userType === "tutor") { %>
  <div class="container mt-5 mb-4">
    <div class="row">
      <div class="col-sm-8 offset-sm-2">
        <a class="btn btn-primary" href="/comments/new">Add a new comment</a>
      </div>
    </div>
  </div>
<% } %>
<div class="container">
  <div class="row">
    <div class="col-sm-8 offset-sm-2">
      <a href="/students/pre-school"><h4 class="mt-5 mb-4">pre-school</h4></a>
      <% var psComments = allComments.filter(function (comment) { %>
        <% return comment.preSchools.length > 0 %>
      <% }) %>
      <% if (psComments.length > 0) { %>
        <% var psCommentsUniqueDates = [...new Set(psComments.map(function (comment) { %>
          <% return comment.date %>
        <% }))] %>
        <div class="d-flex flex-wrap justify-content-left mb-4">
          <% psCommentsUniqueDates.forEach(function (psUniqueDate) { %>
            <div class="card m-2" style="width: 21rem;">
              <div class="card-header">
                <a href="/history/<%= psUniqueDate.id %>"><%= formatDateShort(psUniqueDate.date) %></a>
              </div>
              <div class="card-block">
                <div class="list-group">
                <% var thisDatePSComments = psComments.filter(function (psComment) { %>
                  <% return psComment.date === psUniqueDate %>
                <% }) %>
                <% thisDatePSComments.forEach(function (thisDatePSComment) { %>
                  <a class="list-group-item list-group-item-action justify-content-end" href="/comments/<%= thisDatePSComment.id %>">
                    <% thisDatePSComment.preSchools.forEach(function (preSchool) { %>
                      <span class="d-inline-block text-truncate" style="width: 100%;">
                        <%= preSchool.name %>
                      </span>
                      <br />
                    <% }) %>
                    <% if (thisDatePSComment.tutor) { %>
                      <span class="badge badge-pill badge-default float-right" style="margin-top: 3px">
                        <%= thisDatePSComment.tutor.name %>
                      </span>
                    <% } %>
                  </a>
                <% }) %>
                </div>
              </div>
            </div>
          <% }) %>
        </div>
      <% } else { %>
        <p>No comments yet</p>
      <% } %>

      <a href="/students/fitzroy"><h4 class="mt-5 mb-4">fitzroy</h4></a>
      <% var fComments = allComments.filter(function (fComment) { %>
        <% return fComment.fitzroys.length > 0 %>
      <% }) %>
      <% if (fComments.length > 0) { %>
        <% var fCommentsUniqueDates = [...new Set(fComments.map(function (comment) { %>
          <% return comment.date %>
        <% }))] %>
        <div class="d-flex flex-wrap justify-content-left mb-4">
          <% fCommentsUniqueDates.forEach(function (fUniqueDate) { %>
            <div class="card m-2" style="width: 21rem;">
              <div class="card-header">
                <a href="/history/<%= fUniqueDate.id %>"><%= formatDateShort(fUniqueDate.date) %></a>
              </div>
              <div class="card-block">
                <div class="list-group">
                <% var thisDateFComments = fComments.filter(function (fComment) { %>
                  <% return fComment.date === fUniqueDate %>
                <% }) %>
                <% thisDateFComments.forEach(function (thisDateFComment) { %>
                  <a class="list-group-item list-group-item-action justify-content-end" href="/comments/<%= thisDateFComment.id %>">
                    <% thisDateFComment.fitzroys.forEach(function (fitzroy) { %>
                      <span class="d-inline-block text-truncate" style="width: 100%;">
                        <%= fitzroy.name %>
                      </span>
                      <br />
                    <% }) %>
                    <% if (thisDateFComment.tutor) { %>
                      <span class="badge badge-pill badge-default">
                        <%= thisDateFComment.tutor.name %>
                      </span>
                    <% } %>
                  </a>
                <% }) %>
                </div>
              </div>
            </div>
          <% }) %>
        </div>  
      <% } else { %>
        <p>No comments yet</p>
      <% } %>

      <a href="/students/post-fitzroy"><h4 class="mt-5 mb-4">post-fitzroy</h4></a>
      <% var pfComments = allComments.filter(function (comment) { %>
        <% return comment.postFitzroys.length > 0 %>
      <% }) %>
      <% if (pfComments.length > 0) { %>
        <% var pfCommentsUniqueDates = [...new Set(pfComments.map(function (comment) { %>
          <% return comment.date %>
        <% }))] %>
        <div class="d-flex flex-wrap justify-content-left mb-4">
          <% pfCommentsUniqueDates.forEach(function (pfUniqueDate) { %>
            <div class="card m-2" style="width: 21rem;">
              <div class="card-header">
                <a href="/history/<%= pfUniqueDate.id %>"><%= formatDateShort(pfUniqueDate.date) %></a>
              </div>
              <div class="card-block">
                <div class="list-group">
                <% var thisDatePFComments = pfComments.filter(function (pfComment) { %>
                  <% return pfComment.date === pfUniqueDate %>
                <% }) %>
                <% thisDatePFComments.forEach(function (thisDatePFComment) { %>
                  <a class="list-group-item list-group-item-action justify-content-end" href="/comments/<%= thisDatePFComment.id %>">
                    <% thisDatePFComment.postFitzroys.forEach(function (postFitzroy) { %>
                      <span class="d-inline-block text-truncate" style="width: 100%;">
                        <%= postFitzroy.name %>
                      </span>
                      <br />
                    <% }) %>
                    <% if (thisDatePFComment.tutor) { %>
                      <span class="badge badge-pill badge-default float-right" style="margin-top: 3px">
                        <%= thisDatePFComment.tutor.name %>
                      </span>
                    <% } %>
                  </a>
                <% }) %>
                </div>
              </div>
            </div>
          <% }) %>
        </div>
      <% } else { %>
        <p>No comments yet</p>
      <% } %>
    </div>
  </div>
</div>
