<div class="jumbotron" style="background-color:#d9edf7">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 offset-sm-3">
        <h2 class="display-4">comments</h2>
        <hr class="my-4">
        <% if (chosenComment.tutor) { %>
          <p class="mb-1">by <a href="/tutors/<%= chosenComment.tutor.id %>"><%= chosenComment.tutor.name %></a> on <a href="/history/<%= chosenComment.date.id %>"><%= formatDateLong(chosenComment.date.date) %></a></p>
        <% } else { %>
          on <a href="/history/<%= chosenComment.date.id %>"><%= formatDateLong(chosenComment.date.date) %></a></p>
        <% } %>
        <p>
          <% if (chosenComment.preSchools.length > 0) { %>
            <% chosenComment.preSchools.forEach(function (preSchool) { %>
              <a href="/students/pre-school/<%= preSchool.id %>"><span class="badge badge-pill badge-primary"><%= preSchool.name %></span></a>
            <% }) %>
          <% } %>
          <% if (chosenComment.fitzroys.length > 0) { %>
            <% chosenComment.fitzroys.forEach(function (fitzroy) { %>
              <a href="/students/fitzroy/<%= fitzroy.id %>"><span class="badge badge-pill badge-primary"><%= fitzroy.name %></span></a>
            <% }) %>
          <% } %>
          <% if (chosenComment.postFitzroys.length > 0) { %>
            <% chosenComment.postFitzroys.forEach(function (postFitzroy) { %>
              <a href="/students/post-fitzroy/<%= postFitzroy.id %>"><span class="badge badge-pill badge-primary"><%= postFitzroy.name %></span></a>
            <% }) %>
          <% } %>
        </p>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-6 offset-sm-3">
      <div class="card m-2">
        <div class="card-header">
          Comment
        </div>
        <div class="card-block">
          <%= chosenComment.contents %>
        </div>
      </div>
    </div>
  </div>
</div>
<% if (currentUser && currentUser.userType === "tutor") { %>
  <div class="container mb-5">
    <div class="col-sm-6 offset-sm-3 my-5">
      <div class="row">
        <a class="btn btn-primary mr-3 mb-3" href="/comments/edit/<%= chosenComment._id %>">Edit this comment</a>
        <button class="btn btn-danger mb-3" type="button" style="cursor:pointer;" data-toggle="modal" data-target="#deleteModal">
          Delete this comment
        </button>
        <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Warning</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                Once deleted, this comment cannot be recovered.
              </div>
              <div class="modal-footer">
                <button class="btn btn-secondary" type="button" style="cursor:pointer;"data-dismiss="modal">Cancel</button>
                <form action="/comments/<%= chosenComment._id %>?_method=DELETE" method="POST">
                  <button class="btn btn-danger" type="submit" style="cursor:pointer;">Delete</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% } %>
