<div class="jumbotron" style="background-color:#d9edf7">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 offset-sm-3">
        <h2 class="display-4">tutors</h2>
        <hr class="my-4">
        <p>overview</p>
      </div>
    </div>
  </div>
</div>
<div class="container my-5">
  <div class="row">
    <div class="col-sm-6 offset-sm-3">
      <div class="d-flex flex-column flex-md-row">
        <a href="/tutors/attendance" class="btn btn-primary my-2 mx-2">Future attendance</a>
        <%
          var isAdmin = ""
          if (currentUser && !currentUser.admin) {
            isAdmin = "display: none; visibility: hidden;"
          }
        %>
        <a href="/tutors/archived" class="btn btn-primary my-2 mx-2" style="<%= isAdmin %>">Archived tutors</a>
      </div>
    </div>
  </div>
</div>
<div class="container mb-5">
  <div class="row">
    <div class="col-sm-6 offset-sm-3">
      <% if (allTutorsByName.length > 0) { %>
        <script>
          document.addEventListener('DOMContentLoaded', function () {
            var all = <%- JSON.stringify(allTutorsByName) %>
            var allByDateJoined = <%- JSON.stringify(allTutorsByDateJoined) %>
            var allResults = document.getElementById('all-results')
            var sort = document.getElementById('sort-tutor')
            var filter = document.getElementById('filter-tutor')
            var searchBar = document.getElementById('search-bar-tutor')
            var fitzroyTutorsList = <%- JSON.stringify(fitzroyTutors)%>
            var preSchoolTutorsList = <%- JSON.stringify(preSchoolTutors)%>
            var postFitzroyTutorsList = <%- JSON.stringify(postFitzroyTutors)%>
            var result = all

            function sorting() {
              if (this.value === 'date') {
                result = allByDateJoined
              } else { // this.value === 'name'
                result = all
              }
              updateDom()
            }
            function filtering() {
              if (this.value === 'all') {
                sort.value === 'name'
                ? result = all
                : result = allByDateJoined
              } else if (this.value === 'fitzroyTutors') {
                result = result.filter(function (tutor) {
                  if (fitzroyTutorsList.includes(tutor._id)) {
                    return tutor
                  }
                })
              } else if (this.value === 'preSchoolTutors') {
                result = result.filter(function (tutor) {
                  if (preSchoolTutorsList.includes(tutor._id)) {
                    return tutor
                  }
                })
              } else if (this.value === 'postFitzroyTutors') {
                result = result.filter(function (tutor) {
                  if (postFitzroyTutorsList.includes(tutor._id)) {
                    return tutor
                  }
                })
              }
              updateDom()
            }
            function searching() {
              sort.value = 'name'
              filter.value = 'all'
              result = all
              var re = new RegExp("\\w*" + this.value + "\\w*", "i")
              result = result.filter(function (fitzroy) {
                return re.test(fitzroy.name)
              })
              updateDom()
            }
            function updateDom() {
              allResults.innerHTML = ''
              result.forEach(function (tutor) {
                var a = document.createElement('a')
                a.classList.add('list-group-item', 'list-group-item-action')
                a.href = '/tutors/' + tutor._id
                a.appendChild(document.createTextNode(tutor.name))
                allResults.appendChild(a)
              })
            }
            
            if (sort) {
              sort.addEventListener('change', sorting)
            }
            if (filter) {
              filter.addEventListener('change', filtering)
            }
            if (searchBar) {
              searchBar.addEventListener('keyup', searching)
            }
          })
        </script>
        <small class="form-text text-muted">Sort all tutors by</small>
        <select id="sort-tutor" class="custom-select mb-2">
          <option value="name" selected>Name</option>
          <option value="date">Date joined</option>
        </select>
        <small class="form-text text-muted">Filter tutors</small>
        <select id="filter-tutor" class="custom-select mb-2">
          <option value="all" selected>All tutors</option>
          <% if (fitzroyTutors.length > 0) { %>
            <option value="fitzroyTutors">Fitzroy tutors</option>
          <% } %>
          <% if (preSchoolTutors.length > 0) { %>
            <option value="preSchoolTutors">Pre-school tutors</option>
          <% } %>
          <% if (postFitzroyTutors.length > 0) { %>
            <option value="postFitzroyTutors">Post-Fitzroy tutors</option>
          <% } %>
        </select>
        <small class="form-text text-muted">Or search by name</small>
        <input id="search-bar-tutor" class="form-control mb-5" type="text" placeholder="Enter tutor's name"></input>
        <div id="all-results" class="list-group">
          <% allTutorsByName.forEach(function (tutor) { %>
            <a class="list-group-item list-group-item-action" href="/tutors/<%= tutor.id %>">
              <%= tutor.name %>
            </a>
          <% }) %>
        </div>
      <% } else { %>
        No tutors yet
      <% } %>
    </div>
  </div>
</div>
