<div class="jumbotron" style="background-color:#d9edf7">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 offset-sm-3">
        <h2 class="display-4"><%= chosenTutor.name %></h2>
        <hr class="my-4">
        <p class="mb-1"><a href="/tutors">tutor</a></p>
        <p>
          <a href="mailto:<%= chosenTutor.email %>?cc=pam.tham@gmail.com&subject=Hello%20from%20ReadAble" style="text-decoration: none;">
            <span class="badge badge-pill badge-primary"><%= chosenTutor.email %></span>
          </a>
          <span class="badge badge-pill badge-primary"><%= chosenTutor.phone %></span>
          <span class="badge badge-pill badge-primary"><%= chosenTutor.gender %></span>
          <span class="badge badge-pill badge-primary"><%= chosenTutor.age %></span>
          <span class="badge badge-pill badge-primary">joined <%= formatDateShort(chosenTutor.startDate) %></span>
        </p>
        <p>
          <%= chosenTutor.experience %>
        </p>
        <% if (isCurrentUser) { %>
          <a href="/tutors/edit/<%= chosenTutor.id %>"><button class="btn btn-primary mt-3 mb-2" type="button" style="cursor:pointer;">Edit your details</button></a>
        <% } %>
      </div>
    </div>
  </div>
</div>
<div class="container mb-5">
  <div class="row">
    <div class="col-sm-8 offset-sm-2">
      <a href="/tutors/attendance/<%= chosenTutor.id %>"><h4 class="mt-5 mb-4">indicated future attendance</h4></a>
      <a href="/students/pre-school"><h4 class="mt-5 mb-4">pre-school</h4></a>
      <% if (allPreferringPreSchools.length > 0) { %>
        <p>
          <% var psPreferred = allPreferringPreSchools.filter(function (preSchool) { %>
            <% return preSchool.preferredTutors.some(function (tutor) { %>
              <% return tutor.equals(chosenTutor.id) %>
            <% }) %>
          <% }) %>
          <% if (psPreferred.length > 0) { %>
            This tutor is <strong>preferred</strong> by
            <% psPreferred.forEach(function (psP, index, array) { %>
              <% if (array.length === 1 || index === array.length - 2) { %>
                <a href="/students/pre-school/<%= psP.id %>"><%= psP.name %></a>
              <% } else if (index === array.length - 1) { %>
                and <a href="/students/pre-school/<%= psP.id %>"><%= psP.name %></a>
              <% } else { %>
                <a href="/students/pre-school/<%= psP.id %>"><%= psP.name %></a>,
              <% } %>
            <% }) %>
          <% } %>
        </p>
      <% } %>
      <% if (allTutoredPreSchools.length > 0) { %>
        <div class="d-flex flex-wrap justify-content-left mb-4">
          <% var psUniqueDates = sortByProperty([...new Set(allTutoredPreSchools.map(function (preSchool) { %>
            <% return preSchool.attendance.map(function (indivAtten) { %>
              <% if (indivAtten.tutor && indivAtten.tutor.id.toString() === chosenTutor.id.toString()) { %>
                <% return indivAtten.date %>
              <% } %>
            <% }) %>
          <% }).reduce(function (a, b) { %>
            <% return a.concat(b) %>
          <% }, []).filter(function (item, ind, arr) { %>
            <% return arr.includes(null) && arr.includes(undefined) ? item !== null : true %>
          <% }))], 'date', true) %>
          <% psUniqueDates.forEach(function (psUniqueDate) { %>
            <% if (psUniqueDate) { %>
              <div class="card m-2" style="width: 21rem;">
                <div class="card-header">
                  <a href="/history/<%= psUniqueDate.id %>"><%= formatDateShort(psUniqueDate.date) %></a>
                </div>
                <div class="card-block">
                  <div class="list-group">
                  <% var thisDatePreSchools = allTutoredPreSchools.filter(function (preSchool) { %>
                    <% return preSchool.attendance.some(function (indivAtten) { %>
                      <% return indivAtten.date === psUniqueDate && indivAtten.tutor && indivAtten.tutor.id.toString() === chosenTutor.id.toString() %>
                    <% }) %>
                  <% }) %>
                  <% thisDatePreSchools.forEach(function (thisDatePreSchool) { %>
                    <% var thisPSDate = thisDatePreSchool.attendance.filter(function (indivAtten) { %>
                      <% return indivAtten.date === psUniqueDate && indivAtten.tutor && indivAtten.tutor.id.toString() === chosenTutor.id.toString() %>
                    <% })[0] %>
                    <% if (thisPSDate) { %>
                      <a class="list-group-item list-group-item-action justify-content-between" href="/students/pre-school/<%= thisDatePreSchool.id %>">
                        <span class="d-inline-block text-truncate">
                          <%= thisDatePreSchool.name %>
                        </span>
                      </a>
                    <% } %>
                  <% }) %>
                  </div>
                </div>
              </div>
            <% } %>
          <% }) %>
        </div>
      <% } else { %>
        <p>No sessions yet</p>
      <% } %>
      <div class="mt-5 mb-2 d-flex flex-wrap justify-content-between">
        <a href="/students/fitzroy"><h4 class="mb-2 mr-2">fitzroy</h4></a>
        <% if (allTutoredFitzroys.length > 0) { %>
          <div class="d-flex mb-3 justify-content-lg-end align-items-center" style="width: 21rem;">
            Book legend:
            <span class="badge badge-pill badge-success ml-2">
              Completed
            </span>
            <span class="badge badge-pill badge-warning ml-2">
              Not completed
            </span>
          </div>
        <% } %>
      </div>
      <% if (allPreferringFitzroys.length > 0) { %>
        <p>
          <% var fPreferred = allPreferringFitzroys.filter(function (fitzroy) { %>
            <% return fitzroy.preferredTutors.some(function (tutor) { %>
              <% return tutor.equals(chosenTutor.id) %>
            <% }) %>
          <% }) %>
          <% if (fPreferred.length > 0) { %>
            This tutor is <strong>preferred</strong> by
            <% fPreferred.forEach(function (fP, index, array) { %>
              <% if (array.length === 1 || index === array.length - 2) { %>
                <a href="/students/fitzroy/<%= fP.id %>"><%= fP.name %></a>
              <% } else if (index === array.length - 1) { %>
                and <a href="/students/fitzroy/<%= fP.id %>"><%= fP.name %></a>
              <% } else { %>
                <a href="/students/fitzroy/<%= fP.id %>"><%= fP.name %></a>,
              <% } %>
            <% }) %>
          <% } %>
        </p>
      <% } %>
      <% if (allTutoredFitzroys.length > 0) { %>
        <div class="d-flex flex-wrap justify-content-left mb-4">
          <% var fUniqueDates = sortByProperty([...new Set(allTutoredFitzroys.map(function (fitzroy) { %>
            <% return fitzroy.attendance.map(function (indivAtten) { %>
              <% if (indivAtten.tutor && indivAtten.tutor.id.toString() === chosenTutor.id.toString()) { %>
                <% return indivAtten.date %>
              <% } %>
            <% }) %>
          <% }).reduce(function (a, b) { %>
            <% return a.concat(b) %>
          <% }, []).filter(function (item, ind, arr) { %>
            <% return arr.includes(null) && arr.includes(undefined) ? item !== null : true %>
          <% }))], 'date', true) %>
          <% fUniqueDates.forEach(function (fUniqueDate) { %>
            <% if (fUniqueDate) { %>
               <div class="card m-2" style="width: 21rem;">
                 <div class="card-header">
                   <a href="/history/<%= fUniqueDate.id %>"><%= formatDateShort(fUniqueDate.date) %></a>
                </div>
                <div class="card-block">
                  <div class="list-group">
                  <% var thisDateFitzroys = allTutoredFitzroys.filter(function (fitzroy) { %>
                    <% return fitzroy.attendance.some(function (indivAtten) { %>
                      <% return indivAtten.date === fUniqueDate && indivAtten.tutor && indivAtten.tutor.id.toString() === chosenTutor.id.toString() %>
                    <% }) %>
                  <% }) %>
                  <% thisDateFitzroys.forEach(function (thisDateFitzroy) { %>
                    <% var fBadgeStyle = "" %>
                    <% var thisFDate = thisDateFitzroy.attendance.filter(function (indivAtten) { %>
                      <% return indivAtten.date === fUniqueDate && indivAtten.tutor && indivAtten.tutor.id.toString() === chosenTutor.id.toString() %>
                    <% })[0] %>
                    <% if (thisFDate) { %>
                      <% if (!thisFDate.completed) { %>
                        <% fBadgeStyle = "badge-warning" %>
                      <% } else { %>
                        <% fBadgeStyle = "badge-success" %>
                      <% } %>
                      <a class="list-group-item list-group-item-action justify-content-between" href="/students/fitzroy/<%= thisDateFitzroy.id %>">
                        <span class="d-inline-block text-truncate" style="max-width: 78%;">
                          <%= thisDateFitzroy.name %>
                        </span>
                        &nbsp
                        <span class="badge badge-pill float-right <%= fBadgeStyle %>">
                          <% if (thisFDate.book) { %>
                            <%= fitzroyBookLevelPlusX(thisFDate.book) %>
                          <% } else { %>
                            Other
                          <% } %>
                        </span>
                      </a>
                    <% } %>
                  <% }) %>
                </div>
              </div>
            </div>
            <% } %>
          <% }) %>
        </div>
      <% } else { %>
        <p>No sessions yet</p>
      <% } %>
      <a href="/students/post-fitzroy"><h4 class="mt-5 mb-4">post-fitzroy</h4></a>
      <% if (allPreferringPostFitzroys.length > 0) { %>
        <p>
          <% var pfPreferred = allPreferringPostFitzroys.filter(function (postFitzroy) { %>
            <% return postFitzroy.preferredTutors.some(function (tutor) { %>
              <% return tutor.equals(chosenTutor.id) %>
            <% }) %>
          <% }) %>
          <% if (pfPreferred.length > 0) { %>
            This tutor is <strong>preferred</strong> by
            <% pfPreferred.forEach(function (pfP, index, array) { %>
              <% if (array.length === 1 || index === array.length - 2) { %>
                <a href="/students/post-fitzroy/<%= pfP.id %>"><%= pfP.name %></a>
              <% } else if (index === array.length - 1) { %>
                and <a href="/students/post-fitzroy/<%= pfP.id %>"><%= pfP.name %></a>
              <% } else { %>
                <a href="/students/post-fitzroy/<%= pfP.id %>"><%= pfP.name %></a>,
              <% } %>
            <% }) %>
          <% } %>
        </p>
      <% } %>
      <% if (allTutoredPostFitzroys.length > 0) { %>
        <div class="d-flex flex-wrap justify-content-left mb-4">
          <% var pfUniqueDates = sortByProperty([...new Set(allTutoredPostFitzroys.map(function (postFitzroy) { %>
            <% return postFitzroy.attendance.map(function (indivAtten) { %>
              <% if (indivAtten.tutor && indivAtten.tutor.id.toString() === chosenTutor.id.toString()) { %>
                <% return indivAtten.date %>
              <% } %>
            <% }) %>
          <% }).reduce(function (a, b) { %>
            <% return a.concat(b) %>
          <% }, []).filter(function (item, ind, arr) { %>
            <% return arr.includes(null) && arr.includes(undefined) ? item !== null : true %>
          <% }))], 'date', true) %>
          <% pfUniqueDates.forEach(function (pfUniqueDate) { %>
            <% if (pfUniqueDate) { %>
              <div class="card m-2" style="width: 21rem;">
                <div class="card-header">
                  <a href="/history/<%= pfUniqueDate.id %>"><%= formatDateShort(pfUniqueDate.date) %></a>
                </div>
                <div class="card-block">
                  <div class="list-group">
                  <% var thisDatePostFitzroys = allTutoredPostFitzroys.filter(function (postFitzroy) { %>
                    <% return postFitzroy.attendance.some(function (indivAtten) { %>
                      <% return indivAtten.date === pfUniqueDate && indivAtten.tutor && indivAtten.tutor.id.toString() === chosenTutor.id.toString() %>
                    <% }) %>
                  <% }) %>
                  <% thisDatePostFitzroys.forEach(function (thisDatePostFitzroy) { %>
                    <% var thisPFDate = thisDatePostFitzroy.attendance.filter(function (indivAtten) { %>
                      <% return indivAtten.date === pfUniqueDate && indivAtten.tutor && indivAtten.tutor.id.toString() === chosenTutor.id.toString() %>
                    <% })[0] %>
                    <% if (thisPFDate) { %>
                      <a class="list-group-item list-group-item-action justify-content-between" href="/students/post-fitzroy/<%= thisDatePostFitzroy.id %>">
                        <span class="d-inline-block text-truncate">
                          <%= thisDatePostFitzroy.name %>
                        </span>
                      </a>
                    <% } %>
                  <% }) %>
                  </div>
                </div>
              </div>
            <% } %>
          <% }) %>
        </div>
      <% } else { %>
        <p>No sessions yet</p>
      <% } %>
    </div>
  </div>
</div>
