<div class="jumbotron" style="background-color:#d9edf7">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 offset-sm-3">
        <h2 class="display-4"><%= chosenTutor.name %></h2>
        <hr class="my-4">
        <p class="mb-1">tutor</p>
        <p>
          <a href="mailto:<%= chosenTutor.email %>?cc=pam.tham@gmail.com&subject=Hello%20from%20ReadAble" style="text-decoration: none;">
            <span class="badge badge-pill badge-primary"><%= chosenTutor.email %></span>
          </a>
          <span class="badge badge-pill badge-primary"><%= chosenTutor.phone %></span>
          <span class="badge badge-pill badge-primary"><%= chosenTutor.gender %></span>
          <span class="badge badge-pill badge-primary"><%= chosenTutor.age %></span>
          <span class="badge badge-pill badge-primary"><%= chosenTutor.experience %></span>
          <span class="badge badge-pill badge-primary">joined <%= formatDateShort(chosenTutor.startDate) %></span>
        </p>
      </div>
    </div>
  </div>
</div>
<div class="container mb-5">
  <div class="row">
    <div class="col-sm-6 offset-sm-3">
      <h3 class="lead">pre-school</h3>
      <% if (allPreSchools.length > 0) { %>
        <p>
          <% var psPreferred = allPreSchools.filter(function (preSchool) { %>
            <% return preSchool.preferredTutors.some(function (tutor) { %>
              <% return tutor.equals(chosenTutor.id) %>
            <% }) %>
          <% }) %>
          <% psPreferred.forEach(function (psP, index, array) { %>
            <% if (array.length === 1 || index === array.length - 2) { %>
              <a href="/students/pre-school/<%= psP.id %>"><%= psP.name %></a>
            <% } else if (index === array.length - 1) { %>
              and <a href="/students/pre-school/<%= psP.id %>"><%= psP.name %></a>
            <% } else { %>
              <a href="/students/pre-school/<%= psP.id %>"><%= psP.name %></a>,
            <% } %>
          <% }) %>
          <% if (psPreferred.length === 1) { %>
            <strong> prefers </strong> this tutor
          <% } else if (psPreferred.length > 1) { %>
            <strong> prefer </strong> this tutor
          <% } %>
        </p>
      <% } else { %>
        <p>No sessions yet</p>
      <% } %>
      <h3 class="mt-5 lead">fitzroy</h3>
      <% if (allFitzroys.length > 0) { %>
        <p>
          <% var fPreferred = allFitzroys.filter(function (fitzroy) { %>
            <% return fitzroy.preferredTutors.some(function (tutor) { %>
              <% return tutor.equals(chosenTutor.id) %>
            <% }) %>
          <% }) %>
          <% fPreferred.forEach(function (fP, index, array) { %>
            <% if (array.length === 1 || index === array.length - 2) { %>
              <a href="/students/fitzroy/<%= fP.id %>"><%= fP.name %></a>
            <% } else if (index === array.length - 1) { %>
              and <a href="/students/fitzroy/<%= fP.id %>"><%= fP.name %></a>
            <% } else { %>
              <a href="/students/fitzroy/<%= fP.id %>"><%= fP.name %></a>,
            <% } %>
          <% }) %>
          <% if (fPreferred.length === 1) { %>
            <strong> prefers </strong> this tutor
          <% } else if (fPreferred.length > 1) { %>
            <strong> prefer </strong> this tutor
          <% } %>
        </p>
        <% allFitzroys %>
      <% } else { %>
        <p>No sessions yet</p>
      <% } %>
      <h3 class="mt-5 lead">post-fitzroy</h3>
      <% if (allPostFitzroys.length > 0) { %>
        <p>
          <% var pfPreferred = allPostFitzroys.filter(function (postFitzroy) { %>
            <% return postFitzroy.preferredTutors.some(function (tutor) { %>
              <% return tutor.equals(chosenTutor.id) %>
            <% }) %>
          <% }) %>
          <% pfPreferred.forEach(function (pfP, index, array) { %>
            <% if (array.length === 1 || index === array.length - 2) { %>
              <a href="/students/post-fitzroy/<%= pfP.id %>"><%= pfP.name %></a>
            <% } else if (index === array.length - 1) { %>
              and <a href="/students/post-fitzroy/<%= pfP.id %>"><%= pfP.name %></a>
            <% } else { %>
              <a href="/students/post-fitzroy/<%= pfP.id %>"><%= pfP.name %></a>,
            <% } %>
          <% }) %>
          <% if (pfPreferred.length === 1) { %>
            <strong> prefers </strong> this tutor
          <% } else if (pfPreferred.length > 1) { %>
            <strong> prefer </strong> this tutor
          <% } %>
        </p>
      <% } else { %>
        <p>No sessions yet</p>
      <% } %>
    </div>
  </div>
</div>